.btn-videos 
{
    color: #f9f9f9;
    background-color: #8D203D ;
    border-color: #8D203D;
} 


.btn-outline-danger{
    color:#10312B;
    border-color:#235b4e;
    transition: all linear .6s;
 }
 .btn-outline-danger:hover{
    background: linear-gradient(to top ,#10312B,#235b4e);
    border-color:  #10312B;
    transition: all linear .6s;
 }

 body {
       font-family: 'Montserrat', sans-serif;
   }
   .verde{
background:#245c4f !important;
color: #fff !important; 
font-size: 20px !important;
border-bottom: 2px solid #fff !important;
}

.cafe-claro{
background:#efe6d5 !important; 
color: #000 !important; 
font-size: 20px;
}
.cafe-claro-size{
background:#efe6d5 !important; 
color: #000 !important; 
text-align: left !important;
}
.text-left{
text-align: left !important;
width:70%;
}

.cafe{
background:#bfa27a; 
color: #fff;
}
.nav.nav-tabs .nav-item a.nav-link {
color: #10312B  !important;
}
.nav.nav-tabs .nav-item a.nav-link:hover {
color: #fff ;
background: linear-gradient(to top ,#10312B,#235b4e) !important;
}

.tabla {
    display: none; /* Ocultar todas las tablas por defecto */
}

.btn-videos:hover 
{
    color: #b48f5e;
    background-color: #b48f5e;
    border-color: #000;
}

.btn-videos:active,.btn-videos:focus  
{
    color: #000;
    background-color: #b48f5e  ;
    border-color:  #8D203D;
    
}

        #logos-imagen-ies
        {
            
             /* Ajusta el margen superior según sea necesario */
            width: 120%; /* Ajusta el ancho de la imagen según sea necesario */
            /*height: 50%; /* Ajusta la altura de la imagen según sea necesario */
            object-fit: contain;
           
          
        }

.boton-custom 
      {
        
            background-color: white;
            color: black;
            border: 1px solid #ddd;
            margin: 5px;
            padding: 10px 20px;
            text-decoration: none; /* Evita el subrayado por defecto en los enlaces */
            transition: text-decoration 0.3s ease; /* Agrega una transición al subrayado */
        
    }
        .boton-custom:hover
        {
            text-decoration: underline; /* Subrayado al pasar el mouse */
        }

        
        

        #contenedor-video 
        {
            position: absolute;
            width:89%; /* Ajusta según sea necesario */
            height: 100%;
            overflow: hidden;
            margin-left: 0%;
        }

        #video 
        {
            width:100%;
            height: 100%;
            object-fit: cover; /* Asegura que el video cubra todo el contenedor */
        }

        #contenedor-menu 
        {
            position: absolute;
            width: 20%;
            bottom: 5%;
            margin-bottom: -4%;
            /*width: 35%;  */
            height: 110vh; /* Establece el alto al 100% del viewport height */
           
            right: 0;
            background: url('../img/Marco_derecho.png') center center / cover no-repeat; 
        }
        

        

        .texto
         {
            font-size: 16.5px;
            color: white;
        }
        .texto_derecha
        {
            text-align: right; /* Alinea el contenido (en este caso, los botones) hacia el lado derecho */            
            /*object-fit: contain;*/
            color: white;
        }
        #contenedor-texto
        {
            position: absolute;
            bottom: 0;
            color: white;
            text-align: left;
            width: 50%;
            margin-left: 5%;
            margin-bottom: 2%; /* Ajusta el margen inferior según sea necesario */
        }
/******************************************************************************/
        
        #contenedor-logo-fese
        {
            position: absolute;
            width: 90%;
            height: 20%;
            margin-left:10%; /* Ajusta el margen izquierdo según sea necesario */
            
            z-index: 1;
           /* margin-top: 48em; /* Ajusta el margen inferior según sea necesario */
           bottom: -4%;
        }

        #logo-imagen-fese
        {
            position: absolute;
             /* Ajusta el margen superior según sea necesario */
            width: 90%; /* Ajusta el ancho de la imagen según sea necesario */
            height: 50%; /* Ajusta la altura de la imagen según sea necesario */
            object-fit: contain;
           
          
        }

        /*******************************************************/
		 #contenedor-logo-sep
        {
            position: absolute;
            width: 50%;
            height: 20%;
            z-index: 1;
            left: 0;            
            margin-top: 1%; /* Ajusta el margen superior según sea necesario */
            margin-left:3%;
        } 

        
        #logo-imagen-sep
        {
            position: absolute;           
            width: 40%; 
            height: 60%; 
            object-fit: contain;
            
        }
        #logo-imagen-foros    
        {
            position: absolute;           
            width: 100%; 
            height: 100%; 
            object-fit: contain;
        }

        #contenedor-logo-foros
        {
            position: absolute;
            width:65%;
            height: 20%;
            /*z-index: 1;*/
            right: 6%;            
            margin-top: 10%; 
            margin-right: 3%;
            
        }
       

        #contenedor-botones
        {
            position: absolute;
            width: 85%;
            height: 40%;
            margin-left: 5%; /* Ajusta el margen izquierdo según sea necesario */
            margin-top: 10%; /* Ajusta el margen superior según sea necesario */
            
            text-align: right; /* Alinea el contenido (en este caso, los botones) hacia el lado derecho */            
            object-fit: contain;
            bottom:22%; /* Ajusta el margen inferior según sea necesario */
        }

        #contenedor-logos-ies
        {
           /* 
            
            height: 20%;
            */
            /*z-index: 1;*/
            margin-left:-10%;  
        
            /*position: fixed;*/
            /*margin-top: -2; /* Ajusta el margen inferior según sea necesario */
        }

        #logos-imagen-ies
        {
            
             /* Ajusta el margen superior según sea necesario */
            width: 120%; /* Ajusta el ancho de la imagen según sea necesario */
            /*height: 50%; /* Ajusta la altura de la imagen según sea necesario */
            object-fit: contain;
           
          
        }

        #inicioDescargable
        {
            display: block;   
            margin-left: 70%;
        }

       

        @media (max-width: 599px) 
        {
            .texto
            {
               font-size: 12px;
               color: white;
           }
            
            #contenedor-menu 
            {
                width: 40%;
                bottom: 0%;
                margin-bottom: -5%;
                /*width: 35%;  */
                height: 110vh; /* Establece el alto al 100% del viewport height */
                
            }
            .texto_derecha
            {
               font-size: 10px;
               color: white;               
            }
            #logo-imagen-sep
            {
                width: 110%; 
            }

            #contenedor-logo-foros
            {
                bottom: 75%;
                margin-right: 12%;            
            }
            
    

            #contenedor-logo-sep
            {
                bottom: 79%;
            } 
            #contenedor-logo-fese
            {            
                bottom: -13%;
            }

            #inicioDescargable
        {
             
            margin-left: 20%;
        }
         
                
       
        }

        @media (min-width: 600px) and (max-width: 1366px) 
        {
            .texto_derecha
            {
               font-size: 14px;
               color: white;               
            }

           
        }

    /* --------------------ESTILO DESCARGABLES */
    /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/


		