.boton-custom 
      {
        
            background-color: white;
            color: black;
            border: 1px solid #ddd;
            margin: 5px;
            padding: 10px 20px;
            text-decoration: none; /* Evita el subrayado por defecto en los enlaces */
            transition: text-decoration 0.3s ease; /* Agrega una transición al subrayado */
        
    }
        .boton-custom:hover
        {
            text-decoration: underline; /* Subrayado al pasar el mouse */
        }

        
        

        #contenedor-video 
        {
            position: absolute;
            width:85%; /* Ajusta según sea necesario */
            height: 100%;
            overflow: hidden;
        }

        #video 
        {
            width:100%;
            height: 100%;
            object-fit: cover; /* Asegura que el video cubra todo el contenedor */
        }

        #contenedor-menu 
        {
            position: absolute;
            width: 30%;  
            height: 100%;
            right: 0;
            background: url('img/Marco_derecho.png') center center / cover no-repeat; 
        }

        

        .texto
         {
            font-size: 20px;
            
        }

        #contenedor-texto
        {
            position: absolute;
            bottom: 0;
            color: white;
            text-align: left;
            width: 50%;
            margin-left: 5%;
            margin-bottom: 2%; /* Ajusta el margen inferior según sea necesario */
        }

        
        #contenedor-logo-fese
        {
            position: absolute;
            width: 100%;
            height: 20%;
            margin-left:35%; /* Ajusta el margen izquierdo según sea necesario */
            
            z-index: 1;
            margin-top: 50%; /* Ajusta el margen inferior según sea necesario */
        }

        #logo-imagen-fese
        {
            position: absolute;
             /* Ajusta el margen superior según sea necesario */
            width: 40%; /* Ajusta el ancho de la imagen según sea necesario */
            height: 50%; /* Ajusta la altura de la imagen según sea necesario */
            object-fit: contain;
           
          
        }
		 #contenedor-logo-sep
        {
            position: absolute;
            width: 50%;
            height: 20%;
            z-index: 1;
            left: 0;            
            margin-top: 2%; /* Ajusta el margen superior según sea necesario */
            margin-left: 5%;
        } 

        
        #logo-imagen-sep
        {
            position: absolute;           
            width: 50%; 
            height: 70%; 
            object-fit: contain;
        }
        #logo-imagen-foros    
        {
            position: absolute;           
            width: 100%; 
            height: 100%; 
            object-fit: contain;
        }

        #contenedor-logo-foros
        {
            position: absolute;
            width: 50%;
            height: 20%;
            /*z-index: 1;*/
            right: 6%;            
            margin-top: 5%; 
        }
       

        #contenedor-botones
        {
        /*position: absolute;*/
            width: 55%;
            height: 10%;
            margin-left: 40%; /* Ajusta el margen izquierdo según sea necesario */
            margin-top: 60%; /* Ajusta el margen superior según sea necesario */
            
            text-align: right; /* Alinea el contenido (en este caso, los botones) hacia el lado derecho */            
            /*object-fit: contain;*/
        }

		
